<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="kill-polipo" value="false" />
    <add key="polipo-standalone" value="true" />
  </appSettings>
</configuration>
